section {
	margin-bottom: 30px;

	h4 {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 15px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 4px;
	}

	.vws-mail-address {
		input[type="email"] {
			max-width: 70%;
			margin-left: 1em;
		}
	}
}

/* 2022.08.09 */
/* VK Admin のバージョンｎ 2.2.0 以降が浸透したら削除可 */
#adminContent_sub {
	.notice {
		padding-bottom: 10px;
	}

	.button {
		white-space: normal;
		margin: 5px 0;
		padding: 0.5em 1em;
		line-height: 1.4;
	}
}