.no-margin{
    margin: 0;
}

@media ( max-width: 599px ) {
    .wp-block-image.vk-aligncenter--mobile{
        & > .alignright{
            float:none;
            margin-left:auto;
            margin-right:auto;
        }
    }
}