.no-margin{
    margin: 0;
}

@media ( max-width: 599px ) {
    .wp-block-image.vk-aligncenter--mobile{
        & > .alignright{
            float:none;
            margin-left:auto;
            margin-right:auto;
        }
    }
    .vk-no-padding-horizontal--mobile{
        padding-left:0 !important;
        padding-right:0 !important;
    }
}