.vk-fit-map {
	figure {
		margin-bottom:0;
	}
    iframe {
        position: relative;
        margin-bottom:0;
        display: block;
        max-height: 400px;
        width:100vw;
    }
	&:is(.alignfull,.alignwide) div {
		max-width:100%;
	}
}