.vk-fit-map {
    iframe {
        position: relative;
        margin-bottom:0;
        display: block;
        max-height: 400px;
        width:100vw;
    }
	&.alignfull div[class*="__inner-container"], 
	&.alignwide div[class*="__inner-container"]{
		max-width:100%;
	}
}