
.editor-styles-wrapper {
    .wp-block-columns.vk-cols--reverse{
        @media ( min-width:600px ){
			flex-direction: row-reverse;
            .wp-block-column:not(.wp-block-column:last-child){
                // margin-left:1em; // これがあると編集画面に余白が出来るけど必要？
            }
            .wp-block-column:last-child {
                // margin-right:1em; // これがあると編集画面に余白が出来るけど必要？
                margin-left:0;
            }
        }
    }
}

.editor-styles-wrapper {
	.wp-block-columns.vk-cols--fit {
		gap:0;
		&--gap1 {
			gap:1px;
		}
	}
}

.editor-styles-wrapper {
    .vk-cols--fitbnrs {
        .vk_button a.btn-primary,
        .vk_button a:hover.btn-primary {
            background: unset;
        }
    }
}
/**
ブロックエディタで wp-block に対して上下 margin 28px がついてしまって、ボタンが下付けにならないため 下部の margin を 5px に指定
*/
.edit-post-visual-editor {
    .editor-styles-wrapper {
        .vk-cols--hasbtn {
            &.vk_gridColumn .vk_gridColumn_item {
                &.block-editor-block-list__block .block-editor-inner-blocks,
                & .block-editor-inner-blocks > .block-editor-block-list__layout{
                    height:100%;
                }
            }
            &.vk_gridColumn .block-editor-inner-blocks .block-editor-block-list__layout .block-editor-inner-blocks .block-editor-block-list__layout {
                display: block;
            }
            .vk_gridColumn_item .block-editor-inner-blocks > .block-editor-block-list__layout,
            .wp-block-column {
                padding-bottom:4em;
                position: relative;
                .wp-block-buttons,
                .vk_button {
                    margin-bottom:5px;
                    position: absolute;
                    bottom:0;
                    width:100%; // カラムに padding つけられると absolute なのでpadding引いた幅を検出できずにはみ出すが、まぁしゃーないと思う。
                }
            }
        }
    }
}

/*
    メディアカラム
/* ----------------------------------- */
.editor-styles-wrapper {
	.wp-block-columns.vk-cols--media{
		@media (min-width: 992px) {
			gap:3rem;
		}
	}
}
