@mixin bg-translate-common {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/*
    背景をずらす
/* ----------------------------------- */
.vk-bg-position{
    position: relative;
    z-index:0;
    .vk_outer.bg-left-25{
        transform: translate(25%, 0%);
        @include bg-translate-common;
    }
    .vk_outer.bg-right-25{
        transform: translate(-25%, 0%);
        @include bg-translate-common;
    }
    .vk_outer.bg-left-5{
        transform: translate(5%, 0%);
        @include bg-translate-common;
    }
    .vk_outer.bg-right-5{
        transform: translate(-5%, 0%);
        @include bg-translate-common;
    }

    .vk_outer.bg-not-position{
        transform: translate(0%, 0%);
        @include bg-translate-common;
    }
    

    //lg-max以下で左右にずらしたくない場合に追加
    &.pc-only{
        .vk_outer{           
            @media (max-width: 1199.98px){
                transform: translate(0%, 0%);
            }
        }

    }
}