
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block .vk-bg-offset > div[class*="wp-block"]{
    max-width:unset;
    width:unset;
}
.editor-styles-wrapper .is-root-container .wp-block .vk-bg-offset {
    .wp-block-group__inner-container{
        margin-left:auto;
        margin-right:auto;
        overflow: visible;
    }
    .vk_outer {
        overflow: visible;
    }
    .vk-bg-offset-bg {
        width: calc( 100vw - var(--vk-width-bg-offset) );
        --vk-width-bg-offset:0;
    }
    .vk-bg-offset-bg--left {
        margin-left:var(--vk-width-bg-offset);
    }
    .vk-bg-offset-bg--right {
        margin-right:var(--vk-width-bg-offset);
    }
    .vk-bg-offset-bg--45 {
        --vk-width-bg-offset:45vw;
    }
    .vk-bg-offset-bg--40 {
        --vk-width-bg-offset:40vw;
    }
    .vk-bg-offset-bg--35 {
        --vk-width-bg-offset:35vw;
    }
    .vk-bg-offset-bg--30 {
        --vk-width-bg-offset:30vw;
    }
    .vk-bg-offset-bg--25 {
        --vk-width-bg-offset:25vw;
    }
    .vk-bg-offset-bg--20 {
        --vk-width-bg-offset:20vw;
    }
    .vk-bg-offset-bg--15 {
        --vk-width-bg-offset:15vw;
    }
    .vk-bg-offset-bg--10 {
        --vk-width-bg-offset:10vw;
    }
    .vk-bg-offset-bg--5 {
        --vk-width-bg-offset:5vw;
    }
}